## Extracting Lat and Long of Ontario Canada - Part 2

In [1]:
# import more libraries
import numpy as np
import random
import pandas as pd


!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim

from IPython.display import Image
from IPython.core.display import HTML

! conda install -c conda-forge folium=0.5.0 --yes
import folium 

print('done')

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

done

In [2]:
geo_data="Geospatial_Coordinates.csv"

df_1=pd.read_csv(geo_data)

df_1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [3]:
# ensure that both dataframes- df from part one and this df have the same shape

df_1.shape

(103, 3)

In [4]:
# change column names inorder to merger both dataframes

df_1.columns=['Postcode','Latitude','Longitude']

cols=df_1.columns.tolist()
cols

['Postcode', 'Latitude', 'Longitude']

In [5]:
# Read the first datafram created in part 1 of the assignment

table="week_3_Q1.csv"

df=pd.read_csv(table)

df.head()

   Unnamed: 0 Postcode      Borough                           Neighbourhood
0           0      M1B  Scarborough                          Rouge ,Malvern
1           1      M1C  Scarborough  Highland Creek ,Rouge Hill ,Port Union
2           2      M1E  Scarborough       Guildwood ,Morningside ,West Hill
3           3      M1G  Scarborough                                  Woburn
4           4      M1H  Scarborough                               Cedarbrae

In [6]:
df_3=pd.merge(df, df_1, on="Postcode")
df_3.head()

,Unnamed: 0,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,0,M1B,Scarborough,"Rouge ,Malvern",43.806686,-79.194353
1,1,M1C,Scarborough,"Highland Creek ,Rouge Hill ,Port Union",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood ,Morningside ,West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [7]:
# delete unwanted column

del df_3["Unnamed: 0"]

df_3.head(12)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge ,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek ,Rouge Hill ,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood ,Morningside ,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park ,Ionview ,Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea ,Golden Mile ,Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest ,Cliffside ,Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff ,Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park ,Scarborough Town Centre ,Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale ,Wexford",43.750072,-79.295849

## Save to a csv for the last part of this assignment

In [8]:
df_3.to_csv(r'week_3_part_2.csv')